.DrawBox{
  border: "0.0625rem solid #9c9c9c";
  width:360px;
  height:240px;
};
.buttonBox{
  display: flex;
  flex-direction: row;
  justify-content: center; 
}
.drawContainer{
  display:flex;
  justify-content: center;
}
.azul{
  background-color: blue;
  width:30px;
}
.rojo{
  background-color: red;
  width:30px;
}
.verde{
  background-color: green;
  width:30px;
}
.rosa{
  background-color: pink;
  width:30px;
}
.violeta{
  background-color: purple;
  width:30px;
}
.amarillo{
  background-color: yellow;
  width:30px;
}
.negro{
  background-color: black;
  width:30px;
}